@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    height: auto;
}

body{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 101px;
    background-image: url("./Images/registration__pattern.svg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

}

.register-sales{
    color: #afc2d1;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size:12px;
    border-bottom: 2px solid #f4f4f4;
    margin-bottom: 10px;
}

.bold{
    font-weight: 500;
    color: #8f9ba5;

}

.logo{
     position: fixed;
     background: #fff;
     width: 100%;
     padding:10px;
     margin: 0;
     top: 0;
     z-index: 1;
}

.messagebox{
    position: fixed;
    bottom: 0;
    left: 10px;
}

.container{
    
    max-width: 400px;
    width: 100%;
    background: white;
    border-radius: 10px;
    margin: 20px 50px;
}


.container .title{
    font-size: 25px;
    font-weight: 700;
    position: relative;
    padding: 50px;
    padding-bottom: 0;
    color: #2d6268;
}

.container .subtitle{
    position: relative;
    font-weight:400;
    font-size:20px;
    padding-left:50px;
    color: #2d6268;
}



.container form .user-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 50px;
    padding-top:0;
    margin:20px 0 12px 0;
}

/*Container 2 */
.container2{
    
    max-width: 600px;
    width: 100%;
    background: white;
    /* padding: 40px 50px; */
    border-radius: 10px;
    margin: 20px 50px;
    

}

.container2 form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:20px 0 12px 0;
}

.container2 .textbox{
    padding: 30px 50px;
}
/* HR Representative */

.container2 .imagebox .image{
    
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2 .imagebox .image img{
    width: 130px;
    height:auto;
    border-radius: 50%;
    border:2px solid #ccc;
    padding: 7px;
    
}

.container2 .imagebox{
    border-top: 2px solid #f4f4f4;
    padding: 40px 50px;
    display: flex;
}

.container2 .imagebox .imagebox-list{
    display: inline-block;
    padding-left: 20px;
    max-width: 70%;
    
    
}

.container2 .imagebox .imagebox-list .imagebox-list-title{
    color: #2d6268;
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 15px;
}


.list-item-img img{   
    width:20px !important;
}

.list-item-img{
    display:inline;
    max-width: 10%;
}

.list-item{
    display: flex;
    padding-bottom: 10px;
    
}
.list-item-description{
    display: inline;
    font-size: 14px;
    color: #2d6268;
    padding-left: 10px;
}
.list-item-description .list-item-description-bold{
    font-weight: 800;
}

.hobbies{
    color:#b5b9b9;
}

.hobbies .hobbies-title{
    font-weight: 600;
}
/* -------------------------------------------------------------- */
form .user-details .input-box{
    width: 100%;
    margin-bottom: 30px;
}

.user-details .input-box .details{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    margin-left: 10px;
    color: #2d6268;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .shortinput input:focus
.user-details .shortinput:valid
.user-details .input-box input:valid{
    border-color: #2d6268;
    color: #2d6268;
    

}
/* Log In Button */

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    
}

form .button1, form .button{
    cursor: pointer;
}

form .button1{
    height: 45px;
    outline: none;
    color: #00a9ff;
    border: none;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 5px;
    background: #fff;
    transition: 0.2s ease;

}

form .button1:hover{
    color:#8cd4f8;
    
}

.shortinput{
    display: inline-block;
    width:80% !important;
    

}


form .button{
    height: 45px;

}

.input-box-phone-prefix{
    display: inline-flex;
    align-items: center;
    max-width: 30%;
    border: 1px solid #ccc;
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
    margin-right: 10px;
}
.input-box-phone-prefix img{
    max-width: 30px;
    height: 11px;
}
.input-box-phone-prefix .dropdown{
    max-width: 10px;
    height: 10px;
    margin:10px;
    
}
.input-box-phone{
    display: inline-block;
    max-width: 65%;
}
/* Register Button*/
form .button {
    display: inline;
    height: 45px;
    outline: none;
    color: #969696;
    border: none;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 0 30px 0 30px;
    background: #ccc;
    transition: 0.3s ease;

}

form .button:hover{
    background: #00a9ff;
    color:#fff;
    
}

.checkmark{
    display: inline-flex;
    padding-left: 15px;
    max-width: 20%;

}

.checkmark img{
    background: #E4E5E9;
    padding: 5px;
    border-radius: 50%;
   
   


}

.promoinput{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* List */
dd{
    padding-bottom: 5px;
    padding-left:45px;
    color:#2f394b;

}
dt{
    font-size: 18px;
    font-weight: 700;
    position: relative;
    padding-top: 15px;
    padding-bottom: 10px;
    color:#2f394b;

}

dt:hover{
    color:#2f394b
}
dt:hover .OL_NR{
    color:#fff;
    background:#00a9ff;

}
.smaller{
    font-size:12px;
}

.OL_NR{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    background:#ccc;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color:#2f394b;
    font-size: 16px;
    margin-right: 10px;

}

.OL_NR.selected{
    background:#00a9ff;
    color: #fff
}


/* Responsive */
@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;

    }

    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }

    .container2{
        border:1px solid #f4f4f4
    }
}